<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shine.keepAccount.mapper.BillMapper">
    <resultMap id="BaseResultMap" type="com.shine.keepAccount.entity.Bill">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="amount" property="amount"/>
        <result column="category" property="category"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <insert id="addBill">
        insert into bill(name, amount, category, create_time) values(#{name}, #{amount}, #{category}, now())
    </insert>
    <update id="updateBill">
        update bill set name = #{name}, amount = #{amount}, category = #{category} where id = #{id}
    </update>
    <select id="getAllBill" resultMap="BaseResultMap">
        select * from bill
    </select>
    <select id="getBillById" resultType="com.shine.keepAccount.entity.Bill">
        select * from bill where id = #{id}
    </select>
</mapper>